use flake

source ../.user_conf
source ../.toolchains

source .mode

if [[ ! -d .git ]]; then
	for script in scripts/*; do chmod +x $script; done

	mkdir logs
	mkdir config

	git init
	git add .
	git commit --allow-empty -s -m "initial commit"; 

	barebox
	kernel
	project
	bsp
fi
